
.carousel-wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

.carousel .slider-wrapper {
    width: 100%;
}

.carousel .slider {
    width: 100%;
}

.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    color: #000; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.carousel-content {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-button {
    padding: 20px 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #392c68;
    color: #f7f7f7;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 200px;
    left: 120px
    
}

.carousel-button:hover {
    background-color: #7f6faa;
}

.event-virtual-secret-santa {
    background-image: url('./1.png');
}

.event-birthday-gift-exchange {
    background-image: url('./2.png');
}

.event-anniversary-gift-swap {
    background-image: url('./3.png');
}

.event-holiday-gift-circle {
    background-image: url('./4.png');
}


