.shop-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3300px;
}

h1 {
    text-align: center;
    color: #4b0082; /* Purple color */
}

.category-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-filter label {
    margin-right: 10px;
}

.category-filter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #4b0082; /* Purple color */
}

.product-card p {
    font-size: 1em;
    color: #333;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons button {
    background-color: #9470ad; /* Purple color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #956cb2; /* Darker purple color */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content h2 {
    color: #987bac; /* Purple color */
}

.modal-content p {
    color: #333;
}
